# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# environments
env/
venv/
lunar/
.venv/

# datasets
data/
datasets/
HONS-Lunar-AI-1/

# models
artifacts/
*.pth
*.pt

# logs
logs/
*.log

# temp files
temp_*
*.tmp

# jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# env variables
.env
